.container
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    margin: 0 auto
    padding: 1rem
    border-right: 4px solid
    border-radius: 1rem


.photo
    width: fit-content
    padding: 0.5rem
    background-color: #f1f1f1
    border-radius: 0.5rem

    img
        width: 65px
        height: 47px

.heading
    width: 100%
    display: flex
    // flex-wrap: wrap
    align-items: flex-start
    gap: 1rem
    justify-content: space-between

.row
    display: flex
    gap: 1rem

.basic
    display: flex
    flex-direction: column

    h3
        font-weight: 900
    
    p
        text-transform: uppercase
        font-weight: 400
        color: #777
    
    i
        font-style: italic
        color: #555

.sources
    display: flex
    gap: 0.5rem

    span
        width: fit-content
        background-color: #77b
        color: #000
        letter-spacing: 1px
        font-size: 0.75rem
        text-transform: uppercase
        border-radius: 0.5rem
        padding: 1px 4px

.price
    font-style: italic
    font-weight: 700
    font-size: 1.2rem



@media (max-width: 768px)
    .container
        padding: 0.5rem

    .row
        flex-direction: column
        gap: 0.5rem
